# IntelliJ
.idea/
*.iml

# Maven
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Maven wrapper cache
.mvn/wrapper/maven-wrapper.jar